.login__form_container {
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.login__inputsContainer {
    display: flex;
    flex-direction: column;
}

.login__inputContainer {
    margin: 8px 0;
    display: flex;
    justify-content: space-between;

    label {
        margin-right: 8px;
    }

    input {
        width: 160px;
    }
}